
.Main {
    background-color: #282c34; /*282c34*/
    min-height: 100vh;
    font-size: calc(10px + 2vmin);
    color: white;
    display: flex;
    flex-direction: column;
  }

.Bordered-Row {
  border-style: solid;
  border-color: red;
}

.Bordered-Col {  
  border-style: dotted;
  border-color: greenyellow;
}

.CenterBoard {
  justify-content: center;
  flex: 4;
}

.PlayerHand {
  justify-content: center;
  flex: 1;
}